.154_13 { 
	overflow:hidden;
	border:2px solid rgba(0, 0, 0, 1);
}
.e154_13 { 
	background-color:rgba(250.00000029802322, 219.0000021457672, 217.0000022649765, 1);
	width:1675px;
	height:1290px;
	position:absolute;
}
.154_18 { 
	border:1.2000000476837158px solid rgba(103.06250050663948, 52.2183445841074, 23.61849144101143, 1);
}
.e154_18 { 
	width:199px;
	height:138px;
	position:absolute;
	left:35px;
	top:9px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e154_39 { 
	color:rgba(0, 0, 0, 1);
	width:374px;
	height:80px;
	position:absolute;
	left:38px;
	top:222px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.154_40 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e154_40 { 
	width:374px;
	height:286px;
	position:absolute;
	left:77px;
	top:365px;
	background-image:url(images/image_13.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.165_12 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e165_12 { 
	width:374px;
	height:286px;
	position:absolute;
	left:77px;
	top:365px;
	background-image:url(images/image_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e154_41 { 
	color:rgba(0, 0, 0, 1);
	width:361px;
	height:86px;
	position:absolute;
	left:472px;
	top:465px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e154_42 { 
	color:rgba(0, 0, 0, 1);
	width:437px;
	height:48px;
	position:absolute;
	left:500px;
	top:503px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e187_58 { 
	width:708px;
	height:55px;
	position:absolute;
	left:883px;
	top:1148px;
}
.e187_74 { 
	background-color:rgba(246.6992238163948, 230.2526119351387, 234.1997793316841, 1);
	width:422px;
	height:1134px;
	position:absolute;
	left:1253px;
	top:156px;
}
.187_74 { 
	border:1.5px solid rgba(0, 0, 0, 1);
}
.e194_36 { 
	color:rgba(0, 0, 0, 1);
	width:183px;
	height:29px;
	position:absolute;
	left:1523px;
	top:1235px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e194_35 { 
	color:rgba(0, 0, 0, 1);
	width:144px;
	height:29px;
	position:absolute;
	left:1277px;
	top:1235px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e194_34 { 
	color:rgba(0, 0, 0, 1);
	width:342px;
	height:69px;
	position:absolute;
	left:1272px;
	top:1046px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e194_33 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:270px;
	height:35px;
	position:absolute;
	left:1277px;
	top:978px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e194_32 { 
	color:rgba(0, 0, 0, 1);
	width:342px;
	height:69px;
	position:absolute;
	left:1272px;
	top:887px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e194_29 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:270px;
	height:35px;
	position:absolute;
	left:1277px;
	top:852px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e194_28 { 
	color:rgba(0, 0, 0, 1);
	width:202px;
	height:69px;
	position:absolute;
	left:1283px;
	top:774px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e194_27 { 
	color:rgba(0, 0, 0, 1);
	width:203px;
	height:69px;
	position:absolute;
	left:1302px;
	top:723px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e194_26 { 
	color:rgba(0, 0, 0, 1);
	width:203px;
	height:69px;
	position:absolute;
	left:1308px;
	top:672px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e194_25 { 
	border-radius:500px;
	background-color:rgba(211.63671165704727, 30.86367666721344, 193.55968326330185, 0.10000000149011612);
	width:46px;
	height:35px;
	position:absolute;
	left:1272px;
	top:790px;
}
.e194_23 { 
	border-radius:500px;
	background-color:rgba(211.63671165704727, 30.86367666721344, 193.55968326330185, 0.10000000149011612);
	width:46px;
	height:35px;
	position:absolute;
	left:1272px;
	top:688px;
}
.e194_24 { 
	border-radius:500px;
	background-color:rgba(211.63671165704727, 30.86367666721344, 193.55968326330185, 0.10000000149011612);
	width:46px;
	height:36px;
	position:absolute;
	left:1272px;
	top:738px;
}
.e194_22 { 
	border-radius:500px;
	background-color:rgba(211.63671165704727, 30.86367666721344, 193.55968326330185, 0.10000000149011612);
	width:46px;
	height:36px;
	position:absolute;
	left:1272px;
	top:512px;
}
.e194_19 { 
	color:rgba(0, 0, 0, 1);
	width:170px;
	height:69px;
	position:absolute;
	left:1312px;
	top:550px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e194_17 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:36px;
	position:absolute;
	left:1312px;
	top:515px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e194_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:210px;
	height:38px;
	position:absolute;
	left:1282px;
	top:445px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e194_21 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:270px;
	height:35px;
	position:absolute;
	left:1279px;
	top:628px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e187_75 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:179px;
	height:34px;
	position:absolute;
	left:1261px;
	top:207px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e187_77 { 
	background-color:rgba(211.63671165704727, 30.86367666721344, 193.55968326330185, 0.10000000149011612);
	width:355px;
	height:55px;
	position:absolute;
	left:1284px;
	top:235px;
}
.e187_82 { 
	color:rgba(0, 0, 0, 1);
	width: 200px;
	height:73px;
	position:absolute;
	left:1277px;
	top:220px;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e187_84 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:192px;
	height:54px;
	position:absolute;
	left:1253px;
	top:333px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e187_86 { 
	background-color:rgba(211.63671165704727, 30.86367666721344, 193.55968326330185, 0.10000000149011612);
	width:357px;
	height:55px;
	position:absolute;
	left:1282px;
	top:377px;
}
.e187_89 { 
	color:rgba(0, 0, 0, 1);
	width:105px;
	height:72px;
	position:absolute;
	left:1282px;
	top:360px;
	font-family:Roboto Condensed;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
.e194_15 { 
	border-radius:500px;
	background-color:rgba(211.63671165704727, 30.86367666721344, 193.55968326330185, 0.10000000149011612);
	width:46px;
	height:35px;
	position:absolute;
	left:1272px;
	top:567px;
}
.e255_11 { 
	background-color:rgba(250.00000029802322, 219.0000021457672, 217.0000022649765, 1);
	width:1669px;
	height:160px;
	position:absolute;
	left:6px;
	top:0px;
}
.e256_11 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1753px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.256_11 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e256_12 { 
	color:rgba(0, 0, 0, 1);
	width:315px;
	height:104px;
	position:absolute;
	left:988px;
	top:52px;
	font-family:Roboto;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e256_13 { 
	color:rgba(0, 0, 0, 1);
	width:315px;
	height:57px;
	position:absolute;
	left:1401px;
	top:52px;
	font-family:Roboto;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e256_14 { 
	background-color:rgba(211.63671165704727, 30.86367666721344, 193.55968326330185, 0.10000000149011612);
	width:170px;
	height:76px;
	position:absolute;
	left:1474px;
	top:37px;
	border-radius:20px;
}
.256_14 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.256_15 { 
	border:1.2000000476837158px solid rgba(103.06250050663948, 52.2183445841074, 23.61849144101143, 1);
}
.e256_15 { 
	width:203px;
	height:136px;
	position:absolute;
	left:35px;
	top:12px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/image_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e256_16 { 
	color:rgba(0, 0, 0, 1);
	width:315px;
	height:104px;
	position:absolute;
	left:1178px;
	top:52px;
	font-family:Roboto;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
