@import url('https://fonts.googleapis.com/css2?family= família= Playfair+Display &família= Roboto:wght@100;400 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
}

body {
 font-size: 100%;
 background-color: #FFDCDE;

}
/*cabeçalho do site*/

.cabeçalho {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;
 padding: 24px;
}

.cabeçalho-logo {
 height: 72px;   
}

.cabeçalho-menu {
 display: flex;
 gap: 32px;    
}

.cabeçalho-menu-item {
 font-family: 'Roboto', sans-serif;
 color: #3F0D0D;
 font-weight: 400;
 font-size: 40;
}

a{ 
  font-family: 'Roboto', sans-serif;
  color: #3F0D0D;
  font-weight: 400;
  font-size: 40;}

  .titulo-principal{
    font-family: 'Roboto', sans-serif;
    color: #3F0D0D;
    font-weight: 400;
    font-size: 40;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }


